.table {
  font-family: sans-serif;
  color: rgb(30, 46, 46);
  border-collapse: collapse;
  width: 50%;
  border: 2px solid rgb(20, 20, 20);
}

.table tr th {
  background: blueviolet;
  color: rgb(240, 199, 20);
  font-weight: bold;
}

.table,
th,
td {
  padding: 8px 20px;
  text-align: center;
}

.table tr:hover {
  background-color: beige;
}

.table tr:nth-child(even) {
  background-color: violet;
}
