.atas {
  display: flex;
  width: 98%;
}
.box {
  background-color: rgb(148, 148, 7);
  width: 225px;
  height: 100px;
}

.box2 {
  background-color: rgb(156, 107, 16);
  width: 90%;
  height: 100px;
  padding-left: 60px;
}

.article {
  display: flex;
}

.kiri {
  background-color: rgb(137, 196, 137);
  height: 400px;
  width: 15%;
}

.tengah {
  background-color: lightgrey;
  height: 400px;
  width: 58%;
  padding-left: 120px;
}

.kanan {
  background-color: rgb(125, 196, 196);
  width: 15%;
  height: 400px;
  padding-left: 1%;
}

.footer {
  height: 100px;
  display: flex;
  background-color: rgb(93, 93, 182);
  width: 98%;
}
